@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "style-profile-card.css";

* {
  font-family: Montserrat, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
a {
  color: white;
  text-decoration: none;
}
span {
  display: flex;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0 0 2px 0;
}
p {
  padding: 10px 0;
  text-align: justify;
}
/* ==============================================================================================
                                          NAVBAR
================================================================================================= */
nav {
  height: 10vh;
  background-color: #252525;
  /* flex-direction: column; */
  position: relative;
  display: flex;
}
.nav-container {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  margin: 10px auto;
  /* padding: 1.5em 2em; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: auto;
  height: 100%;
  font-size: 0.8em;
}
.logo {
  display: flex;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline overline #ff3028;
  align-items: center;
  justify-content: left;
  font-size: 1.5em;
  padding: 0 0 0px 20px;
  
}
/* .ramin-logo {
  width: 100px;
  object-fit: contain;
  mix-blend-mode: color-burn;
} */
/* ==============================================================================================
                                          left-column
================================================================================================= */

.left-column {
  width: 40%;
  padding: 20px 20px 20px 20px;
  background-color: #f2f2f2;
  /* margin-bottom: 20px; */
  height: 90vh;
}
.info-box {
  margin: 0 0 20% 0;
}
.fa-github {
  color: #000000;
  font-size: 3rem;
}
.button1 {
  background-color: #ee2b47;
  border: none;
  color: white;
  width: 220px;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
}
.button1:hover {
  background-color: rgb(171, 29, 0);
}
.button2 {
  background-color: #0c005a;
  border: none;
  color: white;
  width: 220px;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
}
.button2:hover {
  background-color: rgb(23, 0, 169);
}
/* ==============================================================================================
                                          right-column
================================================================================================= */
.right-column {
  width: 60%;
  padding: 20px;
  background-color: #f9f9f9;
  /* margin-bottom: 20px; */
  /* height: 80vh; */
}
/* .SHIRAZ-COCKTAIL-BAR {
  width: 100%;
  object-fit: cover;
  object-position: top left;
} */

/* ==============================================================================================
                                          footer
================================================================================================= */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* ==============================================================================================
                                          RESPONSIVENESS
================================================================================================= */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    width: 100%;
  }

  .hamburger {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
  }

  .line {
    display: block;
    height: 3px;
    width: 20px;
    margin: 4px;
    border-radius: 3px;
    background-color: white;
  }

  .nav-items {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    flex-direction: column;
    -webkit-clip-path: circle(1px at 85% -10%);
    clip-path: circle(1px at 85% -10%);
    transition: all 0.8s ease-out;
    pointer-events: none;
    z-index: 2;
  }
  .nav-items.show {
    display: flex;
    -webkit-clip-path: circle(1000px at 85% -20%);
    clip-path: circle(1000px at 85% -20%);
    pointer-events: all;
  }

  a {
    font-size: 25px;
  }
  .nav-item {
    opacity: 0;
  }

  .nav-item:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-item:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-item:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-item.fade {
    opacity: 1;
  }
  /* p {
    margin-top: 10.5vh;
    transform: translateY(-50%);
    text-align: center;
    font-size: 30px;
    font-family: Arial;
  } */
}
