
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: bisque;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

li {
  transition: 0.7s ease;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #333;
}

.hamburger {
  display: none;
  cursor: pointer;
} 
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: blue;
}


@media screen and (max-width: 320px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
  .nav-menu {
    position: fixed;
    left: -100px;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    text-align:center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}